/* Selector universal */
*{
    box-sizing: border-box;
}

body{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header{

    padding: 50px;
    background-color:aquamarine;
    text-align: center;

}

nav{

    display: flex;
    flex-direction: row;
    background-color: brown;
    justify-content: center;

}

nav a{

    color: azure;
    flex-direction:row;
    padding: 14px 20px;
    text-decoration: none;

}

.row{

    display: flex;
    flex-wrap: wrap;
    
}

aside{

    flex: 30%;
    background-color: khaki;
    padding: 20px;

}

section{

    flex: 70%;
    background-color:beige;
    padding: 20px;

}

footer{

    padding: 20px;
    text-align: center;
    background-color: rgb(214, 169, 184);

}

.contenedor{

    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    padding: 10px;
    border: 2px solid black;
    flex-direction: row-reverse;
    justify-content: center;

}

.contenedor div{

    background-color: aquamarine;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border: 2px solid black;

}
